
@{
    Layout = "~/Views/Shared/_LayoutForUser.cshtml";
}


<!-- Central container-->

<div class="container-fluid">

    <!-- Left Vertical menu -->
    <div class="vertical-menu">
        <div class="vert-meny-info">
            <div class="text-and-pix-course">
                <div class="user-img-div">
                    <img src="">
                </div>

                <div class="vert-menu-course-name">
                    <h1 class="user-name-area">
                        <span class="user-full-name"><a></a></span>
                        <span class="username"><a></a></span>
                    </h1>
                    <ul class="user-info">
                        <li class="user-city">
                            <span class="location-icon"></span><a>
                            </a>
                        </li>
                        <li class="data-detail">
                            <span class="data-icon"></span>
                            <span class="joined-data"></span>Joined on
                            <time><a></a></time>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end of Left Vertical menu -->

    <div class="row-fluid" id="myFluid">
        <div class="right-site-area">
            <div class="right-site-header">
                <div class="row" id="mainmenu">
                    <ul>
                        <li>
                            <span><a></a><span>Following</span></a></span>
                        </li>
                        <li>
                            <span><a href="course_info.html">.</a><span>Created</span></a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="right-site-area" id="couses-view" style="margin-top: -17px;">

        <div class="container" style="white-space: nowrap; margin-left: -10px; overflow-x: scroll; width: auto; height: 300px;">
            <h4 style="width: 200px; margin-left: 5px;">Your courses</h4>

            <div class="rows" style="white-space: nowrap; overflow-x: scroll; height:300px;width: auto;">


            </div>
        </div>
    </div>


    <div class="right-site-area" id="created-view">

        <div class="container" style="white-space: nowrap; margin-left: -10px; overflow-y: scroll; overflow-x: scroll; width: auto; height: 300px;">
            <h4 style="margin-top: 15px; margin-left: 5px;">Your subscriptions</h4>
            <div class="rows" style="white-space: nowrap; overflow-x: scroll; height:300px;width: auto;">

            </div>
        </div>
    </div>
</div>
<!-- End of Central container-->


