html,
body {
    width: 100%;
    height: 100%;
     margin: 0px;
}


/*  Fixed top Navigation */

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0px;
}

#menu{
    z-index: 1;
    position: fixed;
    top: 0;
    text-align: center;
     margin: 5px 0 0 0;
     border-radius: 0;
    color: #fff;
    line-height: 1.7;
    padding: 13px 22px;
    height: 46px;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

.sign-up-btn{
    width: 150px;
    right: 340px;
    background-color: rgba(142, 213, 87, 0.6);
     cursor: pointer;
}

.sign-in-btn{
    width: 100px;    
    right: 200px;
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}

.browse-us{
    width: 150px;
    right: 220px;
     background-color: rgba(142, 213, 87, 0.6);
    cursor: pointer;
}

.browse{
    width: 150px;
    right: 550px;
     background-color: rgba(142, 213, 87, 0.6);
    cursor: pointer;
}

.create-course-btn{
     width: 120px;
    right: 400px;
     background-color: rgba(176,0,2,0.7);
    cursor: pointer;
}

#logo-menu{
    position: fixed;
    font-size: 40px;
    z-index:1;
    cursor: pointer;
    left: 10px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700; 
    opacity: 0.8;
    color:  #102854;
    margin-top:8px;
    
}

.logo-catal{
margin-top: -54px;
position:fixed;
}

/*  End of Fixed top Navigation */

#search-dashboard{
    margin-left: 27%;
}

/* Header main page */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(images/mainpage.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity: 0.9;
}

.text-vertical-center  {
    display: table-cell;
    text-align: center;
}


.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 8.5em;
    font-weight: 700;
    word-spacing: 20px;
    letter-spacing: 5px;
    color: #ffffff;
    margin-top: 200px;
}

.text-vertical-center h2 {
    font-weight: 700;
    color: #fff;
    /* color: #170569;*/
     line-height: 3px;
     margin-bottom:  50px;

}

#hello > input{
vertical-align: middle;
border: 4px solid #29434d;
display: table-cell;
    width: 450px;
    height: 45px;
background-color: white; 
opacity: 0.6; 
font-size: 18px; 
font-weight: 700;
}

.search-span{
    position: relative;
}

.browse-catalog-container{
    margin-top: 3px;
    font-weight: 700;
      margin-bottom: 140px;
}

.browse-catalog-container a{
    color: #031256;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 27px;
  
}

#main-about{
     vertical-align:middle;
     color: #000;
      font-family: 'Josefin Sans', sans-serif;
      margin-bottom: 530px;
}

.courses-intro h2{
    text-align:center;
    margin-top: 2%;
    margin-bottom: 4%;
}

#scroll-for-dashboard{
    text-align:center;
    margin-left:37%;
    margin-top: 11%;
}

.courses-intro{
    width: 100%;
    height: 100%;
}

.display-courses-div{
    display: table-cell;
    vertical-align:central;
    margin-left: 20%;

}

#courses-row{
    width: 70%;
    margin-left: 20%;

}

#main-footer{
    height:100%;
}


/*Header catalog page*/

.header-catal{
 display: table;
    position: relative;
    width: 100%;
    height: 450px;
 /*   background-color: rgba(157,205,130, 0.8);*/
    background: url(images/catalog_main.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity: 0.9;
    margin-top: 58px;
}

.main-cont{
    width: 100%;
    height:100%;
}




.main-cont h1{
 font-family: "Lato",sans-serif;
 z-index: 1;
}

#get-know{
    font-weight:700;
}


.catalog-list-div{
    width: 200px;
    height: 450px;
    display: block;
    position: relative;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-left: 150px;
    margin-top: 20px; */
}

.catalog-list-div a{

    text-decoration: none;
}

.catalog-list-div a:hover{
    color: rgb(176,0,2);
}

.categories-links{
    color: #000;
    padding: 13px;
    height: 46px;
    font-family: 'Josefin Sans', sans-serif;
    display: table;
    font-size: 14px; 
    background-color: rgba(250,250,250,1);
    border: 1px solid #b8b8b8;
    border-bottom: 0;
    cursor: pointer;
/*    margin: 5px;*/
    width: 170px;
}

#border-bottom{
    border-bottom: 1px solid #b8b8b8;
}


.catalog-list-div{
    position: fixed;
}

/*End of Header catalog page*/


/*Courses lfilter and list*/

.forms-for-container{
    margin-bottom: 20px;
    background-color: #f2f1ef;
    height: 120px;
}

#humanities-highlight{
    color: rgb(176,0,2);
}

.filter-list{
    width: 70%;
    height:50px;
    background-color: #f2f1ef;
}

.filter-list ul {
    list-style:none;
    margin:0;
    margin-top: 10px;
    padding:0;
    position: relative;
    left:45%;
    float:left;
    font-family: 'Josefin Sans', sans-serif;
}

.filter-list  ul li {
    position:relative;
    float:left;
    margin:0 14px;
}

.filter-list  ul li a{
text-decoration: none;
}

.main-area-for-course-form{
    width: 100%;
    height: auto;
     background-color: #f2f1ef;
     margin-bottom: 20px;

}

.course-rpeview-form{
    position: relative;
    display: block;
    margin: auto;
    border: 1px solid #000;
    width: 500px;
    height: 80px;
    margin-bottom: 20px;
    margin-left: 35%;
    border: 1px solid #b8b8b8;
    background-color: #fff;
}

.form-course-image{
     border: 1px solid #b8b8b8;
     display: inline-block;
     margin-left: 5px;
     vertical-align: middle;
     margin-left: 10px;
     margin-top: 10px;
}

.form-name-author h4{
    display: table;
    margin-left: 100px;
    margin-top: -28px;
    font-size: 20px;
}

.form-name-author p{
    display: table;
    margin-left: 90px;
    font-size: 17px;

}

/*End of Courses lfilter and list area */






#mainmenu {
    position: relative;
    margin:30px 0;
}
#mainmenu ul {
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
    left:50%;
    float:left;
    height:50px;
     font-family: 'Josefin Sans', sans-serif;

}
#mainmenu ul li {
    position:relative;
    left:-50%;
    float:left;
    margin:0 30px;
    height:30px;
    text-align: center;
    font-size: 23px;
}
#mainmenu ul li {
    text-decoration:none;
    padding:4px 10px;
}
#mainmenu ul li a {
    display:block;
    text-decoration:none;
    padding:4px 10px;
    font-weight:700;
     cursor: pointer;
}

#mainmenu ul li a:hover {
    color:rgba(142, 213, 87, 0.6);
}


/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    font-weight: 700;
    margin-top: 70px;
}

#sendUs{
    color: #fff;
    font-weight: 700;
}

#myLabel{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

#pwd{
    width: 300px;
}

.form-control{
    width: 300px;
    color: #000;
}

#cancelbt{
    font-size:  20px;
    font-weight: 500;
    color: #fff;
}


.btn-light {
    border-radius: 0;
    color: #fff;
    background-color: rgb(0,0,0,0.7);
}

.btn-light:hover{
    color: #fff;
    font-weight: 700;
    background-color: rgb(0,0,0,0.4);

}



/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 200px;
    height: 100%;
    margin-right: -200px;
    overflow-y: auto;
    background: #000;
     font-family: 'Josefin Sans', sans-serif;
    opacity: 0.5;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}


.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 30px;
    line-height: 40px;
    font-size:  20px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    font-weight: 700;  
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 20px;
    line-height: 59px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
    font-weight: 700;
}



#sidebar-wrapper.active {
    right: 200px;
    width: 200px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}



.user-div{
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.row-fluid{
     margin: auto;
     margin-top: 55px;
     margin-left: -10px;
        margin-right: -10px;    
}



.right-site-area{
    margin-left: 200px;
    display: block;
    background-color: #fbfbfb;
    position: relative;
}

#couses-view{
    height: 270px;
    margin: auto;
    display: block;
     position: relative;
     margin-left: 190px;
     margin-right: -10px
}

#created-view{

     margin-right: -10px;
          margin-left: 190px
}

.right-site-area a{
    text-decoration: none;
}

.right-site-header{
    height: 150px; 
    display: block;
    background-color: #f5f5f5;
    border: 2px solid #e7e7e7;
    position: relative;
    cursor: default;
}

.right-site-header h1{
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.right-site-header h3{
    text-align: center;
    vertical-align: middle;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

#content-area{
    height: 795px;
     background-color: #fbfbfb;
     border: 0px;
}

.abt-course-div{
   background-color: #fff;
    border: 2px solid #e7e7e7;
    width: 400px;
    height: 410px;
    margin: auto;
    cursor: default;
    margin-bottom: 20px;
}

.abt-teacher-div{
     border: 2px solid #e7e7e7;
     background-color: #fff;
    width: 400px;
    height: 130px;
    margin: auto;
    cursor: pointer;
    margin-bottom: 10px;
}

.abt-course-div h2, p{
    margin-top: 3px;
    padding-left: 10px;
    font-family: Times New Roman;
}


.abt-course-div a{
     margin-top: 3px;
    padding-left: 10px;
    font-size: 17px;
}

.abt-teacher-div a{
    margin-top: 3px;
    padding-left: 10px;
    font-family: Times New Roman;
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
.date-subscribe-box{
   position: relative;
    display: block;
    width: 200px;
    height: 120px;
    background-color: #043345;
    margin: auto;
    opacity: 0.8;
}

.subscribe-btn-div{
    vertical-align: middle;
}

.container-fluid{
    height: 750px;
    margin-bottom: 150px;
}

.vertical-menu{
    width:  210px;
    height: 910px;
    display: block;
    background-color: #043345;
    position: absolute;
    margin-top: 55px;
    margin-left: -20px;
    cursor: pointer;
  
}

.text-and-pix-course{
    height: 200px;
    vertical-align: middle;
    text-align: center;

}

.user-img-div img{
    height: 210px;
    width: 210px;
    margin: 0;
    padding: 0;
   /* padding: 10px;*/
}

.cours-img-div img{
    height: 210px;
    width: 210px;
    margin: 0;
    padding: 0;
   /* padding: 10px;*/
}

.vert-menu-course-name h3{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    font-family: TImes New Roman;
    margin-top: -3px;
    margin-bottom: -1px;

}

.user-full-name{
    font-size: 25px;
    font-family: arial;
    color: #fff;
}
    
.username{

    font-size: 21px;
    font-family: arial;
    color: #7f7f7f;
    font-weight: 300;
    padding-bottom: 8px;
}

.user-info{
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding-top: 15px;
    font-size: 18px;
    padding: 0;
    font-family: arial;
    color: #7f7f7f;
    margin-top: 10px;
    margin-bottom: 13px;
 list-style-type: none;   
}

.user-city{   
     padding-top: 13px;
}

.data-detail{
    padding-top: 5px;
    padding-bottom: 15px;
}

.location-icon::before{
    background: url("images/location.png") no-repeat 0 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    content: "";
    background-size: 90%;
    padding-right: 9px;
    padding-bottom:7px;
}

.data-icon::before{
    background: url("images/data.png") no-repeat 0 0;
    display: inline-block;
    width: 17px;
    height: 17px;
    content: "";
    background-size: 100%;
    padding-right: 10px;
    padding-bottom:9px;
}


.site-right-area{

    display: block;
    margin-top: 200px;
}


/* About */
.my-about{
    width:100%;

}

.icon-arrow-left::before {
    content: url('assets/css/images/scroll-down.png');
    opacity: 0.6;
    color:  #102854;

}

#about-scroll{
    margin-bottom: 30px;
}

.about {
    vertical-align: middle;
    text-align: center;
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

.rows{
   margin-top: -10px;
}

.rows ul li{
   margin-top: 25px;
   padding: 14px;
}


#another-row{
     margin-top: 100px;
         vertical-align: middle;
    
    font-family: 'Lato', sans-serif;
}
#profile-form{
    font-family: 'Times New Roman';
    color: #fff;
    font-size: 18px;
}

#sign-up-div{

    margin-top: 70px;
    margin-left: 500px;
}

#sign-in-image{
    background: url(images/catalog_main5.jpg) no-repeat center center scroll;
    opacity: 0.8;
  
}

#sibsribe-btn{
    margin-top: 5%;

}


.hell0-user{
    width: auto;
    right: 340px;
    background-color: rgba(142, 213, 87, 0.6);
    cursor: pointer;
}

.form-control{
    margin: 30px;
}

.text-center{
    margin-left: 80px;
}
#my-submit{
        width: 300px;
        margin-left: 30px;
}

.profile-img{
    margin-left:120px;
}


/* Footer */

footer {
    padding: 100px 0;
    margin: auto;
}

#catal-footer{
    margin-top: -100px;
    font-family: 'Lato', sans-serif;
}
