@{
    Layout = "~/Views/Shared/_CategoriesLayout.cshtml";
}

@RenderBody();


    <div class="course-rpeview-form">
        <div class="form-course-image">
            <img src="#">
        </div>
        <div class="form-name-author">
            <span><h4><a href="course-page.html">Name of the course</a></h4></span>
            <p><a href="user-page.html">Author</a></p>
        </div>
    </div>

</div>