@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "BROWSE CATALOG";
}


<!-- Header contents -->


@Html.ActionLink("LEARNIT", "Index", "Home", null, new { @class = "logo-catal", @id = "logo-menu" })

    @RenderBody();

<!-- end of header content -->
<!-- footer -->
<footer>
    <div style="cursor: default" class="col-lg-10 col-lg-offset-1 text-center" id="catal-footer">
        <h2>
            @Html.ActionLink("LEARNIT", "Index", "Home", null, new { @style = "text-decoration:none;" })
        </h2>
        <p>Moscow Kremlin<br>Russia</p>
        <ul class="list-unstyled">
            <li>
                <i class="fa fa-envelope-o fa-fw"></i>  <a style="text-decoration: none" href="mailto:vera_khatskevich@yahoo.com">vera_khatskevich@yahoo.com</a>
            </li>
        </ul>
        <hr>
        <p class="text-muted">Copyright LEARNIT 2015</p>
    </div>
</footer>