
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="~/Content/stylish-portfolio.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="~/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

</head>


<body>

    <!-- Fixed top Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    @Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { @id = "menu",  @class="sign-up-btn" })
    @Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { @id = "menu", @class = "sign-in-btn" })
    <!-- End of fixed top Navigation -->

    <nav id="sidebar-wrapper" class="bar">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
              <a href="#top" onclick=$("#menu-close").click();>LEARNIT</a>
            </li>
            <li>
                <a href="#top" onclick=$("#menu-close").click();>Home</a>
            </li>
            <li>
                <a href="#about" onclick=$("#menu-close").click();>About</a>
            </li>
            <li>
                <a href="#services" onclick=$("#menu-close").click();>Browse Catalog</a>
            </li>
            <li>
                <a href="#contacts-mark" onclick=$("#menu-close").click();>Contacts</a>
            </li>
        </ul>
    </nav>
    <!-- end Static right menu -->


    

    @RenderBody();

  

    <!-- jQuery -->
    <script src="~/Scripts/jquery-2.1.4.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Customs JavaScript -->
    <script src="~/Scripts/myscripts.js"></script>

</body>

</html>

