@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
   

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    @Html.ActionLink("Your profile", "Create", "UserProfile", routeValues: null, htmlAttributes: new { title = "Manage", @id = "menu", @class = "hell0-user" })

    <a href="javascript:document.getElementById('logoutForm').submit()" id="menu", class="sign-in-btn">Log Out</a>

    }
}
else
{

    <!-- end Static right menu -->


    <ul class="nav navbar-nav navbar-right">
        @Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { @id = "menu", @class = "sign-up-btn" })
        @Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { @id = "menu", @class = "sign-in-btn" })
       </ul>
}




