@{
    ViewBag.Title = "Home-LEARNIT";
}
    <!-- Header -->

 

    <header id="main-header" class="header">
        <div class="text-vertical-center">
            <div class="main-cont" style="cursor: default;">
                <h1>LEARN WITH US</h1>
                <h2>Get knowledge, make friends, be a master.</h2>
                <span id="hello">
                    <input type="text" class="  search-query form-control" placeholder="What would you like to learn?" autocomplete="off" spellcheck="false" dir="auto" />
                 
                </span>
                <h3 class="browse-catalog-container">
                    <span>or</span>
                    <a class="browse-catalog-link" href="catalog.html"><span>@Html.ActionLink("Browse Catalog.", "Catalog", "BrowseCatalog")</span>
                </a>
                </h3>
            </div>
        </div>
    </header>


              <!-- About -->

        <section id="about" class="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>About LEARNIT</h2>
                        <p class="lead">LEARNIT is an awesome service that gives you an opportunity to be involevd in learning process with your teachers and your team more efficient and smooth! On LEARNIT you will find a course to take or you can create your own class and become a teacher! LEARNIT offers you all the nessesary tools to study or to teach. Make your life and study process better with LEARNIT! Get knowledge, make friends, be a master.</p>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
        </section>
><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />



   <footer>
    <hr />
    <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>
            @Html.ActionLink("LEARNIT", "Index", "Home", null, new { @style = "text-decoration:none;" })
        </h2>
        <p>Moscow Kremlin<br>Russia</p>
        <ul class="list-unstyled" id="contacts-mark">
            <li>
                <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:vera_khatskevich@yahoo.com">vera_khatskevich@yahoo.com</a>
            </li>
        </ul>
        <br>
        <ul class="list-inline">
            <li>
                <a href="https://www.facebook.com/vera.khatskevich1"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
            </li>
            <li>
                <a href="https://www.twitter.come/veralady"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
            </li>
            <li>
                <a href="https://www.github.com/verakh"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
            </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright LEARNIT 2015</p>
    </div>
</footer>